.social {
    &__title {
    }

    &__subtitle {
        // margin-top: 16px;
        margin-top: 24px;

        @include tablet {
            margin-top: 16px;
        }

        @include mobile {
            margin-top: 8px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;

        @include tablet {
            margin-top: 16px;
        }
    }

    &__item {
    }

    &__link {
    }
}
