.color {
    $color: &;

    & {
        position: relative;
        width: 12px;
        height: 12px;
        margin: 3px;
        border-radius: 50%;
    }

    &_checked {
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: -3px;
            background-color: transparent;
            border: 0.4px solid $border-gray;
            border-radius: 50%;
        }
    }

    &_red {
        background-color: red;
    }

    &_black {
        background-color: black;
    }

    &_white {
        background-color: white;
        border: 0.4px solid black;
    }

    &_brandy-rose {
        background-color: #b67c7c;
    }
}
