.favorite {
    color: $black;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: $red;
    }

    &_active {
        color: $red;

        &:hover {
            color: $black;
        }
    }
}
