.product {
    & {
        font-size: 14px;

        @include tablet {
            font-size: 12px;
        }
    }

    &__link {
        display: block;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $gray;
        }
    }

    &__img {
    }

    &__title {
        margin-top: 16px;
        font-size: inherit;
        font-weight: 400;

        @include tablet {
            // margin-top: 10px;
            margin-top: 12px;
        }
    }

    &__footer {
        // margin-top: 12px;
        margin-top: 14px;

        @include tablet {
            // margin-top: 10px;
            margin-top: 12px;
        }
    }

    &__price-favorite {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
    }

    &__favorite {
        color: $black;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $red;
        }

        &_active {
            color: $red;

            &:hover {
                color: $black;
            }
        }
    }

    &__color-list {
        display: flex;
        align-items: center;
        gap: 3px;
        flex-wrap: wrap;
        margin-top: 19px;

        @include tablet {
            margin-top: 10px;
        }
    }

    &__color-item {
    }
}
