.size {
  display: block;
  padding: 3px 14px;
  border: 0.5px solid $black;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @at-root input:checked + & {
    color: $white;
    background-color: $black;
  }
}
